.app-sidenav {
  padding: 20px;
  width: 12%;
  height: 100%;
  visibility: visible;
  background-image: url(../../../src/assets/img/teste.jpg);
  background-size: cover;
  background-position: center;

  p {
    color: #000000;
  }
}